<div class="container">
<h1>Timestamp microservice</h1>
	<p>
    This a showcase application to fulfill requirements of freeCodeCamp Timestamp Microservice challenge
	https://www.freecodecamp.org/challenges/timestamp-microservice
	<br>
	You can either provide call URL including unix timestamp or natural date<br>
	<a href="/1450137600" target="blank">"../1450137600"</a><br>
	<a href="/December%2015,%202015" target="blank">"../December%2015,%202015"</a><br>
	<br>
	or use us below input box to start call.<br>
	Dates which are not following RFC2822 or ISO 8601 will lead to error and shows no result. E.g.<br>
	<a href="/December%2015,%20565652015" target="blank">"../December%2015,%20565652015"</a><br>
	
	</p>

 </div>
</div>
